<header class="header">
  <div class="container">
    <nav class="navigation">
      <a href="" class="navigation__logo">
        <svg width="68" height="55">
          <use class="open-menu" href="./images/symbol-defs.svg#logo"></use>
        </svg>
      </a>
      <div class="menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="#">About</a></li>
          <li class="menu__item">
            <a href="#">Services and prices</a>
          </li>
          <li class="menu__item"><a href="#">Barbers</a></li>
          <li class="menu__item"><a href="#">Contacts</a></li>
        </ul>
      </div>

      <div class="wrap">
        <button class="button__booking">online-booking</button>
        <a href="tel:+380441111111" class="phone">+38 044 111 11 11</a>
      </div>

      <button class="mobile-button" id="open-menu">
        <svg width="40" height="40">
          <use href="./images/symbol-defs.svg#menu"></use>
        </svg>
      </button>
      <button class="mobile-button is-hiden" id="close-menu">
        <svg width="40" height="40">
          <use href="./images/symbol-defs.svg#close"></use>
        </svg>
      </button>
      <div class="mobile-menu is-hiden">
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item"><a href="#">About</a></li>
          <li class="mobile-menu__item">
            <a href="#">Services and prices</a>
          </li>
          <li class="mobile-menu__item"><a href="#">Barbers</a></li>
          <li class="mobile-menu__item"><a href="#">Contacts</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
